/* This file determines initial browser reset and layout mixins for responsive design */
//@import './fonts.scss';
@import './colors.scss';

/* Layout Variables */

$desktop: 1440px;
$tablet: 768px;
$mobile: 320px;

/* Layout Mixins */

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    } 
}

@mixin tablet {
    @media (min-width: $tablet){
        @content;
    } 
}

/* Browser & Link Reset */

* {
    box-sizing: border-box;
    font-family: 'Avenir Next Regular';
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;

    a {
        color: inherit;
        text-decoration: none;
    }  

}

