/* Variables */

$black: #323232;
$silver: #AFAFAF;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;
$white: #FFFFFF;
$brainflix-blue: #0065AD;
$brainflix-blue-light: #0095FF;

$paragraph-text: $black;
$text-label-style: $silver;
$text-field-border: $mercury;
$text-field-background-fill: $alabaster;

$nav-back-fill: $black; 
$primary-cta: $black;
$primary-cta-hover: $brainflix-blue;
