/* Variables */

$black: #323232;
$silver: #AFAFAF;
$mercury: #E1E1E1;
$alabaster: #FAFAFA;
$white: #FFFFFF;
$instock-blue: #004892;
$instock-blue-dark: #002F5F;

$paragraph-text: $black;
$text-label-style: $silver;
$text-field-border: $mercury;
$text-field-background-fill: $alabaster;

$nav-back-fill: $black; 
$primary-cta: $instock-blue;
$primary-cta-hover: $instock-blue-dark;
