@import '../../colors.scss';
@import '../../fonts.scss';
@import '../../App.scss';

@keyframes modalShow {
  from {top: -700px;}
  to {top: 0;}
}

.modal-wrapper-hide {
   display: none;
}

.modal-wrapper-show {
   position: fixed;
   top: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.6);
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   animation-name: modalShow;
   animation-duration: 0.5s;

   & .modal-form-wrapper {
      border-radius: 5px;
      width: 100%;
      height: 100%;
      position: fixed;
      background-color: $white;
      overflow-y: scroll;
      animation-name: modalShow;
      animation-duration: 1s;
      animation-timing-function: ease-in;

      @include tablet {
         width: 65%;
         height: 90%;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
      }

      @include desktop {
         width: 576px;
         height: 624px;
      }

      & .modal-header {
         @include m-h1-header;
         width: 80%;
         margin-left: 10%;
         margin-bottom: 1.75rem;
         margin-top: 2rem;

         @include tablet {
            @include h1-header;
         }
      }

      & .modal-body {
         display: flex;
         flex-direction: column;
         justify-content: center;
         width: 80%;
         margin-bottom: 5%;
         margin-left: 10%;

         & .main-modal-div {
            display: flex;
            width: 100%;

            & .modal-form {
               display: flex;
               flex-direction: column;
               width: 100%;

               & .first-form-div {
                  display: flex;
                  flex-direction: column;

                  @include tablet {
                     flex-direction: row;
                     justify-content: space-between;
                  }

                  & .product-div {
                     display: flex;
                     flex-direction: column;
                     margin-bottom: 1rem;

                     @include tablet {
                        width: 45%;
                     }

                     & .product-label {
                        @include m-label;
                        margin: 0.5rem 0;
                     }

                     & .product-input {
                        border: 2px solid $text-field-border;
                        border-radius: 5px;
                        height: 3rem;
                        text-indent: 1rem;
                        outline: none;

                        @include tablet {
                           width: 100%;
                        }
                     }
                  }

                  & .last-order-div {
                     display: flex;
                     flex-direction: column;
                     margin-bottom: 1rem;

                     @include tablet {
                        width: 45%;
                     }

                     & .order-date-label {
                        @include m-label;
                        margin: 0.5rem 0;
                     }

                     & .order-date-input {
                        border: 2px solid $text-field-border;
                        border-radius: 5px;
                        height: 3rem;
                        text-indent: 1rem;
                        outline: none;

                        @include tablet {
                           width: 100%;
                        }
                     }
                  }
               }

               & .second-form-div {
                  display: flex;
                  flex-direction: column;

                  @include tablet {
                     flex-direction: row;
                     justify-content: space-between;
                  }

                  & .city-div {
                     display: flex;
                     flex-direction: column;
                     margin-bottom: 1rem;

                     @include tablet {
                        width: 45%;
                     }

                     & .city-label {
                        @include m-label;
                        margin: 0.5rem 0;
                     }

                     & .city-input {
                        border: 2px solid $text-field-border;
                        border-radius: 5px;
                        height: 3rem;
                        text-indent: 1rem;
                        outline: none;

                        @include tablet {
                           width: 100%;
                        }
                     }
                  }

                  & .country-div {
                     display: flex;
                     flex-direction: column;
                     margin-bottom: 1rem;

                     @include tablet {
                        width: 45%;
                     }

                     & .country-label {
                        @include m-label;
                        margin: 0.5rem 0;
                     }

                     & .country-dropdown {
                        border: 2px solid $text-field-border;
                        border-radius: 5px;
                        height: 4rem;
                        font-size: 1.25rem;
                        text-indent: 1rem;
                        outline: none;

                        @include tablet {
                           width: 100%;
                           height: 3rem;
                        }
                     }
                  }
               }

               & .third-form-div {
                  display: flex;
                  flex-direction: column;

                  @include tablet {
                     flex-direction: row;
                     justify-content: space-between;
                  }

                  & .quantity-div {
                     display: flex;
                     flex-direction: column;
                     margin-bottom: 1rem;

                     @include tablet {
                        width: 45%;
                     }

                     & .quantity-label {
                        @include m-label;
                        margin: 0.5rem 0;
                     }

                     & .quantity-input {
                        border: 2px solid $text-field-border;
                        border-radius: 5px;
                        height: 3rem;
                        text-indent: 1rem;
                        outline: none;

                        @include tablet {
                           width: 100%;
                        }
                     }
                  }

                  & .status-div {
                     display: flex;
                     flex-direction: column;
                     margin-bottom: 1rem;

                     @include tablet {
                        width: 45%;
                        justify-content: space-around;
                     }
                     
                     & .status-label {
                        @include m-label;
                     }

                     & .status-switch-div {
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: space-between;

                        @include tablet {
                           width: 100%;
                        }
                     }
                  }
               }

               & .fourth-form-div {
                  display: flex;
                  flex-direction: column;

                  @include tablet {
                     width: 100%;
                  }

                  & .item-label {
                     @include m-label;
                     margin: 0.5rem 0;
                  }

                  & .item-description {
                     border: 2px solid $text-field-border;
                     border-radius: 5px;
                     height: 5rem;
                     padding-top: 1rem;
                     text-indent: 1rem;
                     outline: none;
                  }
               }
            }
         }
      }

      & .modal-footer {
         display: flex;
         flex-direction: column-reverse;
         width: 80%;
         margin-left: 10%;
         margin-bottom: 4%;

         @include tablet {
            flex-direction: row;
            justify-content: flex-end;
            width: 80%;
         }

         & .btn-cancel {
            border: none;
            border-radius: 5px;
            width: 100%;
            height: 3.5rem;
            background-color: white;
            color: #0065AD;
            font-size: 1.25rem;
            font-family:'Avenir Next Demi-Bold', sans-serif;

            @include tablet {
               width: 35%;
            }
         }

         & .btn-cancel:hover {
            border: 1px solid #0095FF;
            background-color: #0095FF;
            color: white;
         }

         & .btn-save {
            border: 1px solid #0065AD;
            border-radius: 5px;
            width: 100%;
            height: 3.5rem;
            background-color: #0065AD;
            color: white;
            font-size: 1.25rem;
            font-family:'Avenir Next Demi-Bold', sans-serif;

            @include tablet {
               width: 35%;
            }
         }

         & .btn-save:hover {
            border: 1px solid #0095FF;
            background-color: #0095FF;
         }
      }
   }

   & .modal-form-wrapper::-webkit-scrollbar {
      display: none;
   }
}