@import '../../colors.scss';
@import '../../fonts.scss';
@import '../../App.scss';

.inventoryList {
    margin: 0 1rem;
}
.header {

    &__title {
        @include h1-header;
        margin-top: 2rem;
        margin-bottom: 1rem;
    }
    &__search {
        display: flex;
        flex-direction: row;
        border: 1px solid $mercury;
        width: 92%;
        height: 3rem;
        margin: 0 16px;
        margin-bottom: 2rem;
        border-radius: 4px;
        background-color: $alabaster;
        &--searchIcon {
            margin: 0 1rem;
        }
    }
}
.subheadings {
    display: none;
}
.product {
    padding-bottom: 1rem;
    border-bottom: 2px solid $mercury;
    &__top {
        display: flex;
        justify-content: space-between;
    }
    &__heading {
        color: $mercury;
        font-family: 'Avenir Next Bold';
        margin: 1rem 0;
    }
    &__name {
        margin-bottom: 1rem;
        font-family: 'Avenir Next Demi';
    }
    &__description {
        margin-bottom: 0.5rem;
    }
}
.add-inventory-button {
    width: 4rem;
    height: 4rem;
    background-color: blue;
    border-radius: 50%;
    display:flex;
    justify-content: center;
    align-content: center;
    position: fixed;
    bottom: 10%;
    right: 5%;
    // &:hover {
    //     background-color: $instock-blue-dark;
    // }
}
