@import '../../colors.scss';
@import '../../fonts.scss';
@import '../../App.scss';

.warehouseDetails {
    padding:1.5rem 1rem 1.5rem 1rem;
    &__divider {
        height:1px;
        width:100%;
        background-color:$mercury;
        display:none;
        @include tablet {
            margin:1.5rem 0rem 1.5rem 0rem;
            display: flex;
        }
    }
    &__title {
        display:flex;
        @include m-h1-header;
    }
    &__backArrow {
        margin-right:1rem;
        &--link{
            display:flex;
        }
    }
    &__address {
        margin-top:1rem;
        @include m-paragraph;
        &--label {
            @include m-h2-header;
            color:$silver;
        }
        &--street {
            margin-top:0.5rem;
            line-height:1.375rem;
        }
        &--city {
            margin-top:1rem;
            line-height:1.375rem;
        }
        @include tablet {
            width:55%;
            margin-top:0;
        }
    }
    &__contact {
        margin-top:1rem;
        @include m-paragraph;
        &--label {
            @include m-h2-header;
            color:$silver;
        }
        &--name {
            margin-top:0.5rem;
            line-height:1.375rem;
        }
        &--phone {
            margin-top:1rem;
            line-height:1.375rem;
        }
        @include tablet {
            width:45%;
            margin-top:0;
        }
    }
    @include tablet {
        padding: 1.5rem 1.5rem 1.5rem 1.5rem;
    }
    @include desktop {
        padding: 1.5rem 11.25rem 1.5rem 11.25rem;
    }
}

.warehouseDetails-container {
    @include tablet {
        display:flex;
    }
}

.inventoryDetails {
    padding:0rem 1rem 0rem 1rem;
    background-color:$alabaster;
    @include tablet {
        padding:0rem 1.5rem 0rem 1.5rem;
    }
    @include desktop {
        padding:0rem 180px 0rem 180px;
    }
}