@import '../../App.scss';
@import '../../colors.scss';
@import '../../fonts.scss';

.section__header {
    @include m-h1-header;
    padding: 2rem 0rem 1.5rem 0rem;

    @include tablet() {
        @include h1-header();
    }
    
    @include desktop() {
        padding: 3rem 0rem 4rem 0rem;
    }
}

.navbar__search {
    height: 3rem;
    width: 100%;
    border: 1px solid grey;
    border-radius: 0.5rem;
    padding-left: 3rem;
    background: url('../../assets/Icons/SVG/Icon-search.svg') no-repeat;
    background-position: 1rem 50%;

    @include m-paragraph();
    color: $black;

}
