@import '../../colors.scss';
@import '../../fonts.scss';
@import '../../App.scss';
.nav-bar {
    display: flex; 
    flex-direction: column;
    align-items: center;
    height: 5rem;
    background-color: $black;
    color: $white;
    @include tablet {
        flex-direction: row;
    }   
    @include desktop {
        padding-left: 180px;
        flex-direction: row;
    }   
    &__logo {
        margin: 1rem;
        @include tablet {
            margin: 2rem;
        } 
        @include desktop {
            margin: 2rem 0;
        } 
    }
    &__tabs {
        display: flex;
        list-style-type: none;
        width: 100%;
        padding: 0;
        margin: 0;
        @include tablet {
            display: flex;
            height: 100%;
            align-items: flex-end;
        } 
        @include desktop {
            display: flex;
            height: 100%;
            align-items: flex-end;
        } 
        &--inventory, &--locations {
            @include m-h2-header;
            width: 100%;
            text-align: center;
            height: 100%;
            padding: 8px 0;
            color: $silver;
            @include tablet {
                display: flex;
                align-items: center;
                width: 6rem;
                margin-left: 3rem;
            } 
            @include desktop {
                display: flex;
                align-items: center;
                width: 80px;
                margin-left: 54px;
            } 
            &:hover {
                border-bottom: 4px solid $mercury;
                font-family: 'Avenir Next Demi';
                color: $white;
            }
        }
        &--link {
            color: $white;
            text-decoration: none;
        }
    }
}
